<ul class="filter-nav">
	<li><a id="most_answers" href="#questions-tab" data-toggle="tab">Questions with most answers</a><i class="fa fa-angle-right pull-right"></i></li>
	<li><a id="most_votes" href="#questions-tab" data-toggle="tab">Questions with most votes</a><i class="fa fa-angle-right pull-right"></i></li>
	<li><a id="scn_users" href="#questions-tab" data-toggle="tab">SCN users</a><i class="fa fa-angle-right pull-right"></i></li>
</ul>