<div class="col-md-12 col-sm-12 col-xs-12">
  <div class="top-header">
    <div class="col-md-6 col-md-offset-3">
      <center><%= select_tag :search_options, options_for_select([["Search Cases","cases"],["Search Media","media"]]),class: "new-select-top" %>
      </center>
    </div>
  </div>  
</div>
<div class="clearfix"></div>
<div class="col-md-12 clear-box icon-text-field">
  <span><i class="fa fa-search search-icon"></i></span>
  <%= text_field_tag :advance_search_cases,nil,placeholder: "search cases",class: "add-schdle-txt form-control"%>
</div>

<div class="col-md-12 clear-box icon-text-field">
  <div class="col-sm-12 col-xs-12 col-md-12 clear-box">
    <ul class="nav nav-tabs advance-tabs-nav">
      <li class="active"><a id="recent_search" data-toggle="tab" href="#recent-search">Recent Search </a></li>
      <li><a id="saved_search" data-toggle="tab" href="#saved-search">Saved Search</a></li>
      <li><a id="complex_search" data-toggle="tab" href="#complex-search">Complex Search</a></li>
    </ul>
    <div class="tab-content">
        <div id="recent-search" class="tab-pane fade in active search_results">
        <div class="recent-keywords">
          <%@recent_search_term.each do |term|%>
            <p><%=link_to term,case_search_search_index_path(:searchterm =>term), remote: true%></p>
          <%end%></div>
        </div>
    </div>
  </div>
</div>





