h2   {color:white}
p    {color:white}

body, html {
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(surgery-bk.jpg);
    background-size: 100% 100%;
    font-family: 'HelveticaNeue-Light';
}

* {
  border-radius: 0 !important;
}
a {
    color: #E03347;
    text-decoration: none;
}
a:hover, a:focus {
    color: rgba(224, 51, 71, 0.81);
    text-decoration: underline;
}
.card-container.card {
    width: 400px;
    padding:0;
    background-color: #f3f3f3;
}

.card-form-container {
    padding: 0px 40px 30px 40px;
}
.card-form-container .form-control {
    background-color: #fff;
    border: medium none;
    box-shadow: 0 1px 0 #dcdcdc;
    padding-left:40px;
}



.forgot-password a{
    color:#6A6E7C;
    float: left;
    text-decoration: underline;
    
}
.forgot-password{
    text-align: center;
}
.sign-in-link a{
    color:#6A6E7C;
    float: right;
    text-decoration: underline;
    
}
.card-form-container .form-control {
    background-color: #fff;
    border: medium none;
    box-shadow: 0 1px 0 #dcdcdc;
    padding-left:40px;
}




.forgot-password a{
    color:#666;
    
}
.forgot-password{
    text-align: center;
}

.form-signin .actions {
    margin-top: 30px !important;
    margin-bottom: 30px;
}
.icon1 {
    font-size: 20px;
    margin-left: 9px;
    margin-top: 7px;
    position: absolute;
    z-index: 99999;
    color: #6A6E7C;
}
.icon2 {
    font-size: 20px;
    margin-left: 9px;
    margin-top: 7px;
    position: absolute;
    z-index: 99999;
    color: #6A6E7C;

}
.logo-img {
    padding: 30px;
    text-align: center;
}
.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputEmail,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    background-color: #E03347;
    /*background-color: rgb(104, 145, 162);
    / background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}


.forgot-password {
    color: rgb(104, 145, 162);
}

.forgot-password:hover,
.forgot-password:active,
.forgot-password:focus{
    color: rgb(12, 97, 33);
}

.login-div{
    width: 100%;
    background: #E03347;
    padding: 30px 0px 20px 0px;
}
.app-name{
      text-align: center;
    font-size: 20px;
    color: #fff;
    /* font-weight: bold; */
    line-height: 2em;
}
.card.card-container {
    .alert-message{
        padding: 15px;
        /* margin-bottom: 20px; */
        text-align: center;
        border: 1px solid transparent;
        border-radius: 4px;
        color: #E03347;
        text-decoration: underline;
        margin-top: 15px;
    }
}
.ct-lock.icon2{
    background: url('icons/lock.png');    
    width: 20px;
    height: 20px;
}

@media only screen and (max-width: 500px) {
    .card-container.card{width:100%;}
}


